<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>HELP/FAQ</title>
</head>
<body>
    <div class = 'main-class-js'>
        {{>header}} <!--This is how you use header.hbr-->
        <p class="question-1" >What is this website about?</p>
        <p class="answer-1" >It is a project for educational purpose/to learn more about node.js and interaction of browser with the back-end code.<br></p>
        <p class="question-1" >How do I use the get the weather forcast?</p>
        <p class="answer-1" >Just enter a valid location and viola! You get the bare minimum forecast for that location which is necessary to know the condition of that location.<br></p>
        <p class="question-1" >Why do I see Error 404 Page after entering a location?</p>
        <p class="answer-1" >This most probably means you entered an invalid location or the spelling of the location might differ from the API's spelling. I am very sorry if the latter case occurs as making an API as complex as this could take a lot of time,effort and money.<br></p>

        <p>In Case of any queries/issues with the web-app, Please Contact Me -
        </p>
        <ul>
            <li>E-mail -> sasonian233@gmail.com</li>
            <li>Phone Number -> + 91 7478782130</li>
        </ul>
    {{>footer}}
</body>
</html>