<a href="/">
<img class = "small-logo" src="/images/weather1.png" alt="JU's LOGO">
</a>

<h1 class="title-pg">{{title}}</h1>

<header>
    <a href="/">Home</a> <!--  '/' siginifies the root of the page-->
     {{!-- <a href="/weather">Weather</a>  --}}
    <a href="/about">About</a> 
    <a href="/help">Help</a> 
</header>